@font-face {
  font-family: 'LineIcons';
  src:  url('../fonts/LineIcons.eot?y2l643');
  src:  url('../fonts/LineIcons.eot?y2l643#iefix') format('embedded-opentype'),
    url('../fonts/LineIcons.ttf?y2l643') format('truetype'),
    url('../fonts/LineIcons.woff?y2l643') format('woff'),
    url('../fonts/LineIcons.svg?y2l643#LineIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="lni-"], [class*=" lni-"] {
  font-family: 'LineIcons' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
}
.lni-map-marker:before {
  content: "\e91e";
}
.lni-calendar:before {
  content: "\e988";
}
.lni-envelope:before {
  content: "\e997";
}
.lni-phone-handset:before {
  content: "\eac1";
}
.lni-twitter-original:before {
  content: "\ea7b";
}
.lni-twitter:before {
  content: "\ea97";
}
.lni-twitter-filled:before {
  content: "\eac8";
}
.lni-facebook-messenger:before {
  content: "\ea93";
}
.lni-facebook-original:before {
  content: "\ea94";
}
.lni-facebook-filled:before {
  content: "\ea99";
}
.lni-facebook:before {
  content: "\ea9a";
}
.lni-linkedin-original:before {
  content: "\ea8a";
}
.lni-linkedin:before {
  content: "\eaa1";
}
.lni-linkedin-filled:before {
  content: "\eaca";
}
.lni-instagram-original:before {
  content: "\ea8c";
}
.lni-instagram-filled:before {
  content: "\eaa6";
}
.lni-instagram:before {
  content: "\eaa7";
}